.accordion-button{
    font-weight: 600;
    color: white;
    background-color: $secondary-black;
    border-color: $gold;
    background-size: cover;
    &:after{
        background-image: url(/img/arrow-down.svg);
        
    }
        &:not(.collapsed){
            color: white;
            background-color: $secondary-black;
            &:after{
                background-image: url(/img/arrow-down.svg);
                
            }
        }
}
.accordion-item{
    background-color: transparent;
    max-width: 1100px;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.1);
}
.accordion-button:not(.collapsed){
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 50%);
}
.accordion-body:last-of-type{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.accordion-body{
    color: white;
    background: $secondary-black;
    border-bottom: 0.5px solid rgb(17, 15, 4);
}
.accordion-item:last-of-type{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    .accordion-collapse{
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    .accordion-button.collapsed{
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}
.accordion-item:first-of-type{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    .accordion-button{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}
.tabs{
    background-image: url(/img/gpowder1.png);
}
.flip-list-move {
    transition: transform 0.5s;
}
.no-move {
transition: transform 0s;
}
.ghost {
opacity: 0.5;
background: $primary-black;
}
.list-group {
min-height: 20px;
}
.list-group-item {
cursor: move;
}
.list-group-item i {
cursor: pointer;
}