.outline-gold{
    color: $gold;
    border: 1px solid $gold;
    background-color: transparent;

    &:hover{
        color: $primary-black;
        border: 1px solid $gold;
        background-color: $gold;
    }
}
.sticky-container{
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 99999999;
    background-color: $secondary-black;
    border-radius: 8px;
    filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.15));
    border: 3px solid $primary-black;
}
.tab-gold{
    color: $gold;
    border: 1px solid $gold;
    background-color: transparent;
    &:active{
        h6{
            color: $primary-black;
        }
        background-color: $gold-gradient;
        border: 1px solid $gold;
    }
    &:hover{
        h6{
            color: $gold;
        }
    }
}
.outline-white{
    color: white;
    border: 1px solid white;
    background-color: transparent;

    &:hover{
        color: rgb(194, 194, 194);
        border: 1px solid rgb(194, 194, 194);
        background-color: transparent;
    }
}
.color-muted{
    color:#9095A2 !important;
}

.fill-gold{
    background: $gold-gradient;
    border: 1px solid $gold;
    color: $primary-black;

    &:hover{
        background: $gold-gradient;
        filter: brightness(85%);
        border: 1px solid $gold;
        color: $primary-black;
    }
}
.fill-white{
    background: white;
    border: 1px solid white;
    color: $primary-black;

    &:hover{
        background: rgb(197, 197, 197);
        color: $primary-black;
    }
}
.btn-rounded{
    border-radius: 10px;
}

.fill-gray{
    background: $secondary-black;
    border: unset;
    color: white;

    &:hover{
        background: rgb(48, 48, 48);
        color: white;
    }
}
.buttondisabled{
    pointer-events: none;
    opacity: 0.5;
}