.card{
    filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.15));
}
.card-image{
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.card-container{
    position: relative;
    background-color: $secondary-black;
    border-radius: 10px 10px 10px 10px;
}
.card-content{
    padding: 15px;
}
.hr{
    border-top: 1px solid #D4D5D7;
    width: 100%;
}
.hr-dark{
    border-top: 1px solid $primary-black;
    width: 100%;
}
.hr-gold{
    border-top: 1px solid $gold;
    width: 100%;
}
.hr-3{
    border-top: 3px solid #D4D5D7;
    width: 100%;
}
.cardslong-container{
    background-color: $secondary-black;
    border-radius: 10px 10px 10px 10px;
}
.cardslong-content{
    padding: 15px;
}
.cardslong-icon{
    height: 60px;
    background: $gold-gradient;
    border-radius: 10px;
}
.progress-bar{
    background: $gold-gradient;
}
.progress{
    border-radius: 0px;
    &.big{
        min-width: 500px;
    }
}
.history-container{
    padding: 15px;
    border-radius: 15px;
}
.card-title{
    max-width: 450px;
    display: block;
}
.dropdown-menu{
    background-color: $secondary-black;
}
.dropdown-item{
    color: white;
    &:hover{
        color: white;
        background-color: rgb(72, 72, 72);
    }
}
.wrong{
    border-left : 8px solid #D95450;
}
.correct{
    border-left: 8px solid #00c985;
}
.review-container{
    background: $secondary-black;
    border-radius: 8px;
    padding: 16px;
    filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.15));
}
.draggable{
    background-color: $gold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card-medium{
    width: 200px;
}
@media (max-width: 1100px) {
    .card-title{
        width: 175px;
        display: block;
    }
}
@media (max-width: 426px) {
    .card-title{
        width: 125px;
    }
}
@media (max-width: 330px) {
    .card-title{
        width: 100px;
    }
}