.comingsoon{
    background: url('/img/comingsoon.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 956px;
    width: 100%;
}
.forbidden{
    height: 650px;
    width: 100%;
}
.heading{
    font-size: 25vw;
    font-weight: bolder;
    line-height: 100% ;
    padding-top: 0.5em;
    background: $gold-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.heading-forbidden{
    font-size: 10vw;
    font-weight: bolder;
    line-height: 100% ;
    padding-top: 0.5em;
    background: $gold-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}