.input-group-text-blend{
    background-color: $secondary-black !important;
    border: unset !important;
}
.input-group-text{
    background-color: #1a1d22;
    border: 1px solid #181818;
    color: #fff;
}

.form-control{
    background-color: $secondary-black;
    color: gray;
    border: unset;
    &:focus{
        background-color: $secondary-black;
        color: gray;    
        border: unset;
        box-shadow: 0 0 0 0.25rem rgba(207, 159, 0, 0.25);
    }
    .form-dark{
        background-color: $primary-black;
        color: #8E9197;
        &:focus{
            background-color: $primary-black;
            border: $gold;
            color: #8E9197;
            box-shadow: 0 0 0 0.25rem rgba(207, 159, 0, 0.25);
        }
    }
    &:disabled{
        background-color: $primary-black;
    }
}

.form-select{
    background-color: $secondary-black;
    color: gray;
    border: unset;
    &:focus{
        background-color: $secondary-black;
        color: gray;    
        border: unset;
        box-shadow: 0 0 0 0.25rem rgba(207, 159, 0, 0.25);
    }
    .form-dark{
        background-color: $primary-black;
        color: #8E9197;
        &:focus{
            background-color: $primary-black;
            border: $gold;
            color: #8E9197;
            box-shadow: 0 0 0 0.25rem rgba(207, 159, 0, 0.25);
        }
    }
    &:disabled{
        background-color: rgb(29, 29, 29);
    }
}

.form-dark{
    background-color: $primary-black;
    border: unset;
    color: #8E9197;
    &:focus{
        background-color: $primary-black;
        border: $gold;
        color: #8E9197;
        box-shadow: 0 0 0 0.25rem rgba(207, 159, 0, 0.25);
    }
}

.tox{
    .tox-menubar{
        // display: none !important;
    }
    .tox-statusbar{
        // display: none !important;
    }
    .tox-toolbar, .tox-toolbar__overflow, .tox-toolbar__primary{
        background-color: $secondary-black !important;
    }
}
.form-container{
    background-color: $secondary-black;
    border-radius: 10px;
}
.thumbnail{
    object-fit: cover;
}
fieldset {
    border: none;
    background: $secondary-black;
    margin-bottom: 0.5rem;
}

.form-control[readonly]{
    background-color: $secondary-black;
}
.form-control:disabled{
    color: white;
}
.control-label{
    font-weight: 600;
}