.slider{
  display: flex;
  overflow-x : hidden;
  white-space: nowrap;
}

.highlight{
    // background: url("/img/highlight1.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.highlight-overlay{
    background: linear-gradient(0deg, rgba(24, 24, 24, 0.5), rgba(24, 24, 24, 0.5)), 
    linear-gradient(180deg, rgba(196, 196, 196, 0) -57.77%, #181818 89.28%);
    padding-top: 176px;
    padding-bottom: 50px;
}
.course-overlay{
    background: linear-gradient(0deg, rgba(24, 24, 24, 0.5), rgba(24, 24, 24, 0.5)), 
    linear-gradient(180deg, rgba(196, 196, 196, 0) -57.77%, #181818 89.28%);
    padding-top: 90px;
    padding-bottom: 50px;
}
.mw-1100{
    max-width: 1100px;
}
.main-padding-h{
    padding-right: 60px;
    padding-left: 60px;
}
.main-padding-s{
    padding-left: 60px;
}
.main-padding-edit{
    padding-left: 60px;
}
.main-padding-v{
    padding-bottom: 60px;
    padding-top: 35px;
}
.footer-container{
  max-width: 555px;
}
.loading{
  display: none;
}
.loading-bg{
  position: fixed;
	width: 100%;
	height: 100vh;
  background-color: #181818 ;
  opacity: 0.5;
	z-index: 99999;
}
.loading-gif{
  background: url('/img/loading.png') no-repeat center;
  position: fixed;
  width: 100%;
	height: 100vh;
  z-index: 999999;
}
.preloader{
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: #181818;
    position: fixed;
    left: 0px;
    top: 0px;
    padding-top: 45vh;
    
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 240px ;
    height: 240px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 128px;
    height: 128px;
    margin: 12px;
    border: 12px solid $gold;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $gold transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
@media (max-width: 1199.98px) {
    .highlight-overlay{
        padding-top: 2rem;
    }
    .main-padding-h{
        padding-right: 24px;
        padding-left: 24px;
    }
    .main-padding-edit{
      padding-left: 25px;
      padding-right: 25px;
    }

}
@media (max-width: 767px) {
    .main-app{
        padding-left: 0px !important;
    }
    .footer-container{
        width: auto;
    }
}