.modal-content{
    background-color: $secondary-black;
    border-radius: 0.75rem;
}
.modal-header{
    background: $gold-gradient;
    border-bottom: 1px solid #36383a;
    border-top-left-radius: calc(0.75rem - 1px);
    border-top-right-radius: calc(0.75rem - 1px);
}
.modal-footer{
    border-top: 1px solid $gold;
}
.modal-title{
    color: black;
}

.tabs-container{
    align-items: center;
    width: 100%;
}
.tabs-header{
    display: flex;
    list-style-type: none;
    padding-left: 10px;
    align-items: center;
    width: 100%;
    margin-bottom: 1px;
    li{
        .tab{
            padding: 5px;
            padding-right: 15px;
            padding-left: 15px;
            text-align: center;
            color: white;
            &:hover{
                text-decoration: none;
            }
            &.tab-active{
                &.tab1{
                    border-top: 1px solid $gold;
                    border-left: 1px solid $gold;
                    border-right: 1px solid $gold;
                    border-radius: 4px 4px 0px 0px;
                    text-decoration: none;
                    color: $gold;
                    background-color: $secondary-black;
                    

                }
                &.tab2{
                    border-top: 1px solid $gold;
                    border-left: 1px solid $gold;
                    border-right: 1px solid $gold;
                    border-radius: 4px 4px 0px 0px;
                    text-decoration: none;
                    color: $gold;
                    background-color: $secondary-black;
                    

                }
                &.tab3{
                    border-top: 1px solid $gold;
                    border-left: 1px solid $gold;
                    border-right: 1px solid $gold;
                    border-radius: 4px 4px 0px 0px;
                    text-decoration: none;
                    color: $gold;
                    background-color: $secondary-black;

                }
            }
        }
    }
}
.content{
    padding: 10px;
}
.tab-border{
    border-top: 1px solid $gold;
}
.nav-tabs{
    border-bottom: 1px solid $gold;
    .nav-link{
        &.active{
            background-color: $gold;
            border-color: $gold;
            font-weight: 600;
        }
        &:hover{
            border-color: $gold;
        }
    }
}
