
:root {
    --header-height: 2.75rem;
    --nav-width: 68px;
    --nav-width-expanded: 80px;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding-right: 0.5rem;
    padding-top: 3px;
    background-color: $secondary-black;
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: #000000;
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    left: -30%;
    width: var(--nav-width);
    height: 100%;
    background-color: $sidebar-black;
    padding: 2rem 1rem 0 0;
    transition: .5s;
}

.nav {
    overflow: hidden
}


.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show-navbar {
    left: 0
}
.trans5{
    transition: .5s
}
.body-pd {
    padding-left: calc(var(--nav-width));
    transition: .5s
}
.navbar-pd {
    padding-left: 0px;
}

.nav-active {
    color: $gold;
}

.nav-active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: $gold;
}

.height-100 {
    height: 100vh
}
.header{
    height: calc(var(--header-height) + 1rem);
    padding-right: 0.5rem;
}
.hide{
    display: none;
}
.hidden{
    visibility: hidden;
}

@media (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        // padding-left: calc(var(--nav-width))
    }
    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show-navbar {
        width: calc(var(--nav-width-expanded) + 156px)
    }
    .body-pd {
        padding-left: calc(var(--nav-width) + 90px)
    }
    .navbar-pd {
        padding-left: 0px;
    }
}

.dropdown-toggle::after {
    margin-left: 0
}
.searchbar{
    max-width: 900px;
}