.bg-gradient-gold{
    background: $gold-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar-selected{
    background: $gold-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
.bg-second{
    background-color: $secondary-black;
}
.bg-sidebar{
    background-color: $sidebar-black;
}
.bg-primary{
    background-color: $primary-black !important;
}

.ms-n5 {
    margin-left: -40px;
}
.sidebar{
    position: sticky;
    top: 0;
}
.margin-search{
    margin-left: 135px !important;
}
.avatar{
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    color: $primary-black;
}