.page-item .page-link{
    background-color: $primary-black;
    color: $gold;
    border-color: $primary-black;
    &.active{
        background-color: $gold;
        border-color: $gold;
        color: $primary-black;
    }
}
.page-item.disabled .page-link{
    background-color: $primary-black;
    color: $gold;
    border-color: $primary-black;
}