.paymentbg{
    background: url(/img/paymentbg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    height: 75vh;
    width: 100%;
}
.payment-redirect{
    //
}
.redirect-container{
    padding: 5em
}
.billing-container{
    margin-right: 25px;
    padding: 1.5em;
    background: $secondary-black;
    border-radius: 5px;
}

.img-white-bg{
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
}
.icons{
    display: flex;
    align-items: center;
    height: 28px;
    width: 56px;
    padding: 2px 4px;
    background-color: white;
    border-radius: 0.25rem;
}
.sidebar-icon{
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
}