.lesson-img{
    
}
.quiz-header{
    background: $secondary-black;
}
.score-container{
    position: relative;
}
.score{
    position: absolute;
    top: 45%;
    width: 100%;
}
.result-bg{
    background: url(/img/powderbg.png);
    background-size: contain;
}
.question-wrap{
    background-color: $secondary-black;
    padding: 24px;
    border-radius: 15px;
}