.color-gold{
    color: $gold !important;
}
.color-white{
    color: white !important;
}
.color-red{
    color: #D95450 !important;
}
.color-green{
    color: #00c985 !important;
}
.color-black{
    color: black !important;
}
.fw-semi{
    font-weight: 600 !important;
}
.fw-bold{
    font-weight: 700 !important;
}
.h0{
    font-size: 3.5rem;
}
.p-small{
    font-size: 0.8rem;
}
.strike{
    text-decoration-line: line-through;
}
.text-truncated{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}
@media (max-width: 768px) {
    .h0{
        font-size: calc(1.375rem + 1.5vw);
    }
}