.toc-container{
    height: 100%;
    padding-left: 18px;
}
.toc-content{
    border-left: 3px solid white;
    padding-top: 40px;
    height: 100%;
}
.toc-item{
    margin-top: -20px;
    margin-bottom: 14px;
    margin-left: 16px;
    a{
        color: #c0c0c0;
    }
    &.selected{
        a{
        color: white !important;
        font-weight: 600;
        }
    }
}
.toc-dots{
    height: 20px;
    width: 20px;
    background: #8E9197;
    border-radius: 100%;
    margin-left: -11px;
    &.selected{
        background: $gold;
    }
}