// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//color
$secondary-black: #242628;
$sidebar-black: #1A1D22;
$primary-black: #181818;
$gold: #FBD68D;
$gold-gradient: linear-gradient(270deg, #B28133 -63.16%, #F7CA74 38.57%, #CA9F4B 148.34%);

// Body
$body-bg: $primary-black;
$body-color: white;


.tagify{
    --tag-bg: #242628;
    --tag-text-color: white;
    --tag-hover: #36383a;
    --placeholder-color: rgb(199, 199, 199);
    --placeholder-color-focus:rgb(199, 199, 199);
}