*{
    font-family: 'Montserrat', sans-serif;
}
::-ms-reveal{
    display: none
}

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Variables
@import './variables';
@import './navbar';
@import './text';
@import './button';
@import './home';
@import './cards';
@import './accordion';
@import './toc';
@import './session';
@import './payment';
@import './form';
@import './navbar2';
@import './modal';
@import './idp';
@import './comingsoon';
@import './ribbon';
@import './datepicker';
@import './pagination';
@import './skeleton';

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

[v-cloak]{
    display: none
}

.main-app{
    padding-left: calc(var(--nav-width));
}
.container-app{
    max-width: 1440px;
    justify-content: center;
}
body{
    background: $body-bg;
}
label{
    color: white;
}
p, h1, h2, h3, h4, h5, h6, span{
    color: white;
    margin: 0px;
}
ul,li{
    color: white;
}
a{
    color: white;
    text-decoration: unset;
    &:hover{
        color: rgb(165, 165, 165);
    }
    &.locked{
        pointer-events: none;
        color: gray;
    }
}
.nav-link{
    color: white;
    &:hover{
        color: rgb(165, 165, 165);
    }
}
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.ms-6{
    margin-left: 3.5rem !important;
}

//Remove Autofill Color

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}