<template>
    <div class="card h-100 cardslong-container">
        <div class="cardslong-content">
            <div class="row">
                <div class="d-flex my-auto p-0"> 
                    <div class="text-truncate card-title mx-3">
                        <p class="fw-semi">
                            {{quiz.title}}
                        </p>
                        <p class="">
                            {{quiz.time_limit_MM}}m {{quiz.time_limit_SS}}s
                        </p>
                    </div> 
                   <div class="ms-auto text-center me-3">
                        <p class="color-white m-0">
                            {{quiz.total_question}}
                        </p>
                        <p class="color-muted m-0">
                            Questions
                        </p>
                   </div>
                </div>
                <div class="my-1"></div>
                <div class="d-flex align-items-center g-0">
                    <p class="color-white ms-3 text-capitalize">
                        Status: {{quiz.status}}
                    </p>
                    <a :href="'/teacher/quiz/'+ quiz.id + '/view'" class="btn btn-rounded fill-gold fw-semi ms-auto" 
                        role="button" style="width:90px; margin-right:15px;"
                    >
                    View
                    </a>
                    <a v-if="quiz.status == 'draft'" :href="'/teacher/quiz/'+ quiz.id + '/edit'" 
                        class="btn btn-rounded outline-gold fw-semi" role="button" style="width:90px; margin-right:15px;"
                    >
                        Edit
                    </a>
                    <div class="dropdown show">
                        <a :href="'#dropdownMoreMenu'+ quiz.id" style="font-size: 24px" role="button" :id="'dropdownMore'+ quiz.id" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="mx-3">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </a>
                        <div class="dropdown-menu" :id="'dropdownMoreMenu'+ quiz.id" :aria-labelledby="'dropdownMore'+ quiz.id">
                            <a class="dropdown-item" href="javascript:void(0)" @click="duplicateQuiz(quiz.id)">Duplicate</a>
                            <a class="dropdown-item color-red" href="javascript:void(0)" @click="deleteQuiz('archived',quiz.id)">Archive</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['quiz'],
     methods: {
        deleteQuiz(status,quiz_id){
            this.$parent.showLoading();
            axios({
                method: 'put',
                url: this.api_url + '/api/v1/quizzes/'+ quiz_id,
                headers: {
                    'Authorization' : 'Bearer ' + bearer,
                    'Accept' : 'application/json',
                },
                data: {
                    status: status
                },
            })
            .then(response => {
                this.$parent.hideLoading();
                location.reload();
            })
        },
        duplicateQuiz(quiz_id){
            this.$parent.showLoading();
            axios({
                method: 'post',
                url: this.api_url + '/api/v1/quizzes/'+ quiz_id +'/duplicate',
                headers: {
                    'Authorization' : 'Bearer ' + bearer,
                    'Accept' : 'application/json',
                },
            })
            .then(response => {
                this.$parent.hideLoading();
                location.reload();
            })
        }
    }
}
</script>