<template>
    <div class="card h-100 cardslong-container">
        <div class="cardslong-content">
            <div class="row">
                <div class="d-flex my-auto p-0"> 
                    <div class="text-truncate card-title ms-3 mb-2">
                        <p class="color-gold m-0 fw-semi">
                            {{quiz.section_quiz.course_section.course.title}}
                        </p>
                        <p class="color-white m-0 fw-semi">
                            {{quiz.section_quiz.title}}
                        </p>
                        <p class="color-muted m-0">
                            Attempt {{quiz.attempts}}
                        </p>
                    </div> 
                   <div class="ms-auto text-center me-3">
                        <p class="color-white m-0">
                            {{quiz.total_question}}
                        </p>
                        <p class="color-muted m-0">
                            Questions
                        </p>
                   </div>
                </div>
                <!-- <div class="progress my-3 p-0" style="height: 6px;">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div> -->
                <a 
                    v-if="quiz.status == 'in_progress'" 
                    class="btn btn-rounded fill-gold fw-semi" 
                    :href="'/course/' + quiz.section_quiz.course_section.course.slug + '/section-quizzes/' + quiz.section_quiz.slug" 
                    style="width:132px; margin-left:15px;"
                >
                    <i class="fa-solid fa-rotate-left me-2"></i>
                    Continue
                </a>
                <a v-else 
                    class="btn btn-rounded fill-gold fw-semi" 
                    :href="'/course/' + quiz.section_quiz.course_section.course_id + '/section-quizzes/'+ quiz.section_quiz.id +'/review/'+ quiz.id"
                    style="width:132px; margin-left:15px;"
                >
                    <i class="fa-solid fa-rotate-left me-2"></i>
                    Review
                </a>
            </div>
        </div>          
    </div>
</template>

<script>
export default {
    props: ['quiz']
}
</script>