<template>
    <div class="card h-100 cardslong-container">
        <div class="cardslong-content">
            <div class="row">
                <div class="d-flex flex-wrap p-0 align-items-center"> 
                    <img v-if="course.thumbnail" class="mx-3" :src="api_url + '/storage/'+ course.thumbnail" 
                        alt="thumbnail" height="50" width="50"
                    >
                    <img v-else class="mx-3" src="/img/placeholder-square.png" alt="thumbnail" height="50" width="50">
                    <div class="text-truncate card-title">
                        <div v-if="course.status == 'draft'">
                            <p class="color-gold m-0 fw-semi">
                                {{course.title}}
                            </p>
                            <p class="hidden">
                                Enrolled
                            </p>
                        </div>
                        <div v-else>
                            <a class="color-gold m-0 fw-semi" :href="'/course/'+ course.id">
                                {{course.title}}
                            </a>
                        </div>
                        <p class="d-none d-md-block color-muted m-0" v-if="course.status == 'completed'">
                            {{course.total_students}} Students Enrolled
                        </p>
                        <p class="d-block d-md-none color-muted m-0" v-if="course.status == 'completed'">
                            {{course.total_students}} Enrolled
                        </p>
                    </div> 
                   <div class="ms-md-auto text-md-end me-3 ms-3">
                        <p v-if ="course.is_on_discount && course.discount_price != 0" class="color-white m-0 price">
                            Rp. {{course.discount_price}}
                        </p>
                        <p v-else class="color-white m-0 price">
                            Rp. {{course.price}}
                        </p>
                        <p class="color-muted m-0 fw-semi">
                            PRICE
                        </p>
                   </div>
                </div>
                <div class="d-flex flex-wrap mt-1 p-0 align-items-center"> 
                    <div class="mx-3" v-if="course.status == 'completed'">
                        <p class="color-muted m-0">
                            {{course.students_on_progress}} Students On Progress
                        </p>
                        <p class="color-muted m-0">
                            {{course.students_completed}} Students Completed
                        </p>
                    </div>
                    <div class="d-flex ms-md-auto mt-md-0 mt-3 ms-3 ms-md-0">
                        <a :href="'/teacher/course/'+ course.id" class="btn btn-rounded fill-gold fw-semi me-2" role="button">
                            View
                        </a>
                        <a :href="'/teacher/course/'+ course.id + '/edit'" class="btn btn-rounded outline-gold fw-semi" role="button">
                            Edit
                        </a>
                        <div class="dropdown show ms-auto">
                            <a :href="'#dropdownMoreMenu'+ course.id" style="font-size: 24px" role="button" :id="'dropdownMore'+ course.id" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="mx-3">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu" :id="'dropdownMoreMenu'+ course.id" :aria-labelledby="'dropdownMore'+ course.id">
                                <a class="dropdown-item" href="javascript:void(0)" @click="duplicateCourse(session_id,course.id)">Duplicate</a>
                                <a class="dropdown-item color-red" href="javascript:void(0)" @click="deleteCourse('archived',course.id)">Archive</a>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['course','session_id'],
    methods: {
        deleteCourse(status,course_id){
            this.$parent.showLoading();
            axios({
                method: 'post',
                url: this.api_url + '/api/v1/courses/'+ course_id,
                headers: {
                    'Authorization' : 'Bearer ' + bearer,
                    'Accept' : 'application/json',
                },
                data: {
                    status: status
                },
            })
            .then(response => {
                this.$parent.hideLoading();
                location.reload();
            })
        },
        duplicateCourse(session_id,course_id){
            this.$parent.showLoading();
            axios({
                method: 'post',
                url: this.api_url + '/api/v1/teachers/' + session_id + '/courses/' + course_id + '/duplicate',
                headers: {
                    'Authorization' : 'Bearer ' + bearer,
                    'Accept' : 'application/json',
                },
            })
            .then(response => {
                this.$parent.hideLoading();
                location.reload();
            })
        }
    }
}
</script>