<template>
    <div class="card h-100 card-container">
        <div class="card-image">
            <vue-skeleton-loader
                :height="175"
                class="w-100"
                color="rgba(52, 52, 52, 1)"
                animation="fade"
            ></vue-skeleton-loader>
        </div>
        <div class="card-content text-truncate">
            <vue-skeleton-loader
                :height="25"
                class="w-100 mb-2"
                color="rgba(52, 52, 52, 1)"
                animation="fade"
            ></vue-skeleton-loader>
            <vue-skeleton-loader
                :height="25"
                class="w-25 mb-2"
                color="rgba(52, 52, 52, 1)"
                animation="fade"
            ></vue-skeleton-loader>
            <div class="d-flex">
                <vue-skeleton-loader
                :height="25"
                class="w-25 mb-2"
                color="rgba(52, 52, 52, 1)"
                animation="fade"
            ></vue-skeleton-loader>
            </div>
            <vue-skeleton-loader
                :height="25"
                class="w-50"
                color="rgba(52, 52, 52, 1)"
                animation="fade"
            ></vue-skeleton-loader>
        </div>
        <div class="mt-auto hr"></div>
        <div class="card-content">
            <vue-skeleton-loader
                :height="25"
                class="w-50"
                color="rgba(52, 52, 52, 1)"
                animation="fade"
            ></vue-skeleton-loader>
        </div>  
    </div>
</template>

<script>

</script>