<template>
    <div class="card h-100 card-container">
        <div class="card-image" :style="{'background' : 'url('+ api_url + '/storage/' + course.thumbnail + ')', 'background-position' : 'center'  }"></div>
        <div class="card-content">
            <div class="d-flex align-items-center mb-2">
                <div class="me-auto">
                    <a class="color-gold fw-semi" :href="'/course/' + course.slug">{{course.title}}</a>
                    <p class="m-0">
                        {{course.teacher.profile.name}}
                    </p>
                </div>
            </div>
            <a :href="'/course/' + course.slug" class="btn fill-gold fw-semi"> 
                <i class="fa-solid fa-rotate-right"></i> 
                Continue
            </a>
        </div>
        <!-- <div class="progress mb-3 p-0" style="height: 6px;">
            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div> -->
        <div class="hr "></div>
        <div class="card-content">
            <div class="d-flex color-white">
                <i class="fa-solid fa-clock-rotate-left me-1"></i>
                <div v-if="course.estimated_time > 3600" class="p-small me-2">
                    {{ getHours(course.estimated_time) }} Hours
                </div>
                <div v-else class="p-small me-2">
                    Less than an hour
                </div>
                <!-- <i class="fa-solid fa-play me-1"></i> -->
                <!-- <div class="p-small me-2">12 Lessons</div> -->
            </div>
        </div>
    </div>
</template>
<script>
import StarRating from 'vue-star-rating';
export default {
    components: {
        StarRating
    },
    props: ['course'],
    methods: {
        getHours(data) {
            const totalSeconds = data;
            var result = Math.floor(totalSeconds / 3600);
            return result
        }
    }
}

</script>
