<template>
    <div class="card h-100 cardslong-container">
        <div class="cardslong-content">
            <div class="row">
                <div class="d-flex flex-wrap p-0 align-items-center"> 
                    <vue-skeleton-loader
                        :height="50"
                        :width="50"
                        color="rgba(52, 52, 52, 1)"
                        animation="fade"
                        class="mx-3"
                    ></vue-skeleton-loader>
                    <div class="text-truncate card-title">
                        <vue-skeleton-loader
                            :height="25"
                            :width="300"
                            color="rgba(52, 52, 52, 1)"
                            animation="fade"
                            class="me-2 my-2"
                        ></vue-skeleton-loader>
                        <vue-skeleton-loader
                            :height="25"
                            color="rgba(52, 52, 52, 1)"
                            animation="fade"
                            class="me-2 w-25"
                        ></vue-skeleton-loader>
                    </div> 
                   <div class="ms-md-auto text-md-end me-3 ms-3 mb-2">
                        <vue-skeleton-loader
                            :height="25"
                            :width="75"
                            color="rgba(52, 52, 52, 1)"
                            animation="fade"
                            class="me-2"
                        ></vue-skeleton-loader>
                        <vue-skeleton-loader
                            :height="25"
                            color="rgba(52, 52, 52, 1)"
                            animation="fade"
                            class="me-2 w-50"
                        ></vue-skeleton-loader>
                   </div>
                </div>
                <div class="d-flex flex-wrap mt-1 p-0 align-items-center"> 
                    <div class="mx-3">
                       <vue-skeleton-loader
                            :height="25"
                            :width="200"
                            color="rgba(52, 52, 52, 1)"
                            animation="fade"
                            class="me-2 mb-2"
                        ></vue-skeleton-loader>
                        <vue-skeleton-loader
                            :height="25"
                            :width="200"
                            color="rgba(52, 52, 52, 1)"
                            animation="fade"
                            class="me-2"
                        ></vue-skeleton-loader>
                    </div>
                    <div class="d-flex ms-md-auto mt-md-0 mt-3 ms-3 ms-md-0">
                        <vue-skeleton-loader
                            :height="36"
                            :width="75"
                            color="rgba(52, 52, 52, 1)"
                            animation="fade"
                            class="me-2"
                        ></vue-skeleton-loader>
                        <vue-skeleton-loader
                            :height="36"
                            :width="75"
                            color="rgba(52, 52, 52, 1)"
                            animation="fade"
                            class="me-3"
                        ></vue-skeleton-loader>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['course']
}
</script>