<template>
    <div class="card h-100 card-container">
        <div v-if="purchased" class="ribbon ribbon-top-right">
            <span>purchased</span>
        </div>
        <div class="card-image" :style="{'background' : 'url(' + api_url + '/storage/' + course.thumbnail + ')', 'background-position' : 'center' }"></div>
        <div class="card-content">
            <div class="text-truncated">
                <a class="color-gold fw-semi" :href="'/course/'+ course.slug">
                    {{course.title}}
                </a>
            </div>
            <p class="m-0">
                {{course.teacher.profile.name}}
            </p>
            <div v-if="course.average_ratings" class="d-flex">
                <star-rating 
                    :inline="true" 
                    :star-size="12" 
                    :read-only="true" 
                    :show-rating="true" 
                    :rating="course.average_ratings" 
                    :round-start-rating="false" 
                    :fixed-points="1" 
                    class="me-2 mb-1 p-small"
                ></star-rating>
                <!-- <small class=" color-white"><small class="color-gold">96%</small> Profile Match</small> -->
            </div>
            <div v-if="is_card_ready">
                <div v-if="!purchased && !dashboard">
                    <div v-if="course.is_on_discount && course.discount_price != 0">
                        <p>
                            <span class="strike color-gold opacity-25 me-2 price">
                                Rp. {{show.price}}
                            </span>
                            <span class="color-gold price">
                                Rp. {{show.discount_price}}
                            </span>
                        </p>
                    </div>
                    <div v-else-if="course.is_on_discount == 1 && course.discount_price == 0">
                        <p>
                            <span class="strike color-gold opacity-25 me-2 price">
                                Rp. {{show.price}}
                            </span>
                            <span class="color-gold">
                                FREE
                            </span>
                        </p>
                    </div>
                    <div v-else-if="course.price == 0">
                        <p>
                            <span class="color-gold me-2">
                                FREE
                            </span>
                        </p>
                    </div>
                    <div v-else-if="course.is_on_discount == 0">
                        <p>
                            <span class=" color-gold me-2 price">
                                Rp. {{show.price}}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-auto hr"></div>
        <div class="card-content">
            <div class="d-flex color-white align-items-center">
                <i class="fa-solid fa-clock-rotate-left me-1"></i>
                <div v-if="course.estimated_time > 3600" class="p-small me-2">
                    {{ getHours(course.estimated_time) }} Hours
                </div>
                <div v-else class="p-small me-2">
                    Less than an hour
                </div>
                <!-- <i class="fa-solid fa-play me-1"></i>
                <div class="p-small me-2">12 Lessons</div> -->
                <i class="fa-solid fa-users me-1"></i>
                <div class="p-small">
                    {{course.students.length}}
                </div>
                <div v-if="dashboard" class="dropdown show ms-auto">
                    <a :href="'#dropdownMoreMenu'+ course.id" role="button" :id="'dropdownMore'+ course.id" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="mx-3">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </a>
                    <div class="dropdown-menu" :id="'dropdownMoreMenu'+ course.id" :aria-labelledby="'dropdownMore'+ course.id">
                        <a class="dropdown-item" :href="'/student/dashboard/courses/' + course.id + '/quiz/'">Quizzez</a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</template>

<script>
import StarRating from 'vue-star-rating';
export default {
    components: {
        StarRating
    },
    props: ['course','session_id','dashboard'],
    data() {
        return {
            purchased: false,
            is_card_ready: false,
            show:{
                price:'',
                discount_price:'',
            },
        }
    },
    mounted: function() {
        var user_index = _.findIndex(this.course.students, {'id': parseInt(this.session_id)})
  
        if(user_index > -1) {
            // ini ada
            this.purchased = true
        }else{
            this.purchased = false
        }
        this.show.price = Number(this.course.price).toLocaleString('id');
        this.show.discount_price = Number(this.course.discount_price).toLocaleString('id');
        this.is_card_ready = true
    },
    methods: {
        getHours(data) {
            const totalSeconds = data;
            var result = Math.floor(totalSeconds / 3600);
            return result
        }
    }
}
</script>