<template>
    <div class="highlight g-0" :style="{'background' : 'url('+ api_url + '/storage/' + course.hero_background +')' , 'background-repeat' : 'no-repeat' , 'background-position' : 'center' , 'background-size' : 'cover' }">
        <div class="course-overlay main-padding-h">
            <div class="mw-1100 mx-auto">
                <div class="d-flex">
                    <div class="rounded-circle bg-primary-gold mb-5 pe-4">
                        <img v-if="course.thumbnail" :src=" api_url + '/storage/' + course.thumbnail"
                        alt="thumbnail" width="120" height="120">
                        <img v-else src="/img/placeholder.png" class="" alt="thumbnail" width="100%" height="auto">
                    </div>
                    <div>
                        <h1 class="m-0 color-gold">
                            {{course.title}}
                        </h1>
                        <h4 class="m-0">
                            {{course.category.name}}
                        </h4>
                        <!-- <div class="progress big rounded my-2 p-0" style="height: 12px;">
                            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span><span class="color-gold">90%</span> Progress</span> -->
                    </div>
                    
                </div>
                <div class="mb-5" v-html="course.desc"></div>
                <div v-if="!purchased">
                    <div v-if="course.is_on_discount && course.discount_price != 0">
                        <h4>
                            <span class="strike color-gold opacity-25 me-2 price">
                                Rp. {{show.price}}
                            </span>
                            <span class="color-gold price">
                                Rp. {{show.discount_price}}
                            </span>
                        </h4>
                    </div>
                    <div v-else-if="course.is_on_discount == 1 && course.discount_price == 0">
                        <h4>
                            <span class="strike color-gold opacity-25 me-2 price">
                                Rp. {{show.price}}
                            </span>
                            <span class="color-gold">
                                FREE
                            </span>
                        </h4>
                    </div>
                    <div v-else-if="course.price == 0">
                        <h4>
                            <span class="color-gold me-2">
                                FREE
                            </span>
                        </h4>
                    </div>
                    <div v-else-if="course.is_on_discount == 0">
                        <h4>
                            <span class=" color-gold me-2 price">
                                Rp. {{show.price}}
                            </span>
                        </h4>
                    </div>
                </div>
                <div class="d-flex flex-wrap align-items-center mt-2">
                    <div v-if="preview">
                        <a href="javascript:void(0)" class="btn me-4 fill-gold fw-semi disabled" role="button" aria-disabled="true">
                            Buy & Enroll Course
                        </a>
                    </div>
                    <div v-else>
                        <div v-if="purchased && !completed">
                            <a v-if="course.course_sections[0].section_content_orders[0].endpoint == 'section_quizzes'" 
                                :href="'/course/'+ course.id + '/section-quizzes'
                                + '/' + course.course_sections[0].section_content_orders[0].content_id" 
                                class="btn me-4 fill-gold fw-semi" role="button"
                            >
                                Continue Course
                            </a>
                            <a v-else 
                                :href="'/course/'+ course.id + '/' + course.course_sections[0].section_content_orders[0].endpoint
                                + '/' + course.course_sections[0].section_content_orders[0].content_id" 
                                class="btn me-4 fill-gold fw-semi" role="button"
                            >
                                Continue Course
                            </a>
                        </div>
                        <div v-else-if="purchased && completed">
                            <a v-if="course.course_sections[0].section_content_orders[0].endpoint == 'section_quizzes'" 
                                :href="'/course/'+ course.id + '/section-quizzes'
                                + '/' + course.course_sections[0].section_content_orders[0].content_id" 
                                class="btn me-3 fill-gold fw-semi" role="button"
                            >
                                View Course
                            </a>
                            <a v-else 
                                :href="'/course/'+ course.id + '/' + course.course_sections[0].section_content_orders[0].endpoint
                                + '/' + course.course_sections[0].section_content_orders[0].content_id" 
                                class="btn me-3 fill-gold fw-semi" role="button"
                            >
                                View Course
                            </a>
                        </div>
                        <div v-else>
                            <a :href="'/payment?course=' + course.slug" class="btn  me-4 fill-gold fw-semi" role="button">
                                Buy & Enroll Course
                            </a>
                        </div>
                    </div>
                    <a class="btn d-inline-block me-2 fill-white fw-semi" role="button" 
                        data-bs-toggle="modal" data-bs-target="#trailerModal" v-if="course.trailer"
                    >
                        Play Trailer
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="trailerModal" tabindex="-1" aria-labelledby="trailerModalLabel" aria-hidden="true">
                        <div class="modal-fullscreen modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="gopayModalLabel">
                                        {{course.title}} Trailer
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeVideo()"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="100%" id="trailer" height="100%" :src="'https://www.youtube.com/embed/' + course.trailer"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex my-3">
                        <div class="rounded-circle bg-primary-gold pe-2">
                            <img v-if="course.teacher.profile.avatar" :src=" api_url + '/storage/' + course.teacher.profile.avatar" 
                                class="avatar" alt="avatar" height="52" width="52"
                            >
                            <img v-else src="/img/placeholder.png" class="" alt="avatar" height="52" width="52">
                        </div>
                        <div>
                            <p class="m-0 fw-semi">
                                {{course.teacher.profile.name}}
                            </p>
                            <p class="small m-0">
                                Guru
                            </p>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap color-white ps-3 align-items-center">
                        <i class="fa-solid fa-clock-rotate-left me-1"></i>
                        <div class="p-small me-2">
                            {{ getHours(course.estimated_time) > 0 ? getHours(course.estimated_time) + 'h' : ''}}
                            {{ getMinutes(course.estimated_time) > 0 ? getMinutes(course.estimated_time) + 'm' : ''}}
                        </div>
                        <i class="fa-solid fa-gauge-high me-1"></i>
                        <div class="p-small me-2">
                            {{course.level}}
                        </div>
                        <i class="fa-solid fa-users me-1"></i>
                        <div class="p-small">
                            {{course.students.length}}
                        </div>
                    </div>
                        <div class="ms-auto text-center">
                            <star-rating 
                                :inline="true" 
                                :star-size="24" 
                                :read-only="true" 
                                :show-rating="true"
                                :rating="course.average_ratings" 
                                :round-start-rating="false" 
                                :fixed-points="1" 
                            >
                            </star-rating>
                            <p>
                                {{course.total_ratings}} Ratings
                            </p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import StarRating from 'vue-star-rating';
export default {
    components: {
        StarRating
    },
    props: ['course','session_id','show','preview'],
    data() {
        return {
            purchased: false,
            completed: false,
        }
    },
    mounted: function() {
        var user_index = _.findIndex(this.course.students, {'id': parseInt(this.session_id)})
        
        if(user_index > -1) {
            // ini ada
            this.purchased = true
            
        }else{
            this.purchased = false
            
        }
  
        if(user_index > -1) {
            // ini ada
            if(this.course.students[user_index].pivot.status == 'completed'){
                this.completed = true
            }
            else{
                this.completed = false
            }
        }else{
            this.completed = false
        }
    },
    methods: {
        getHours(data) {
            const totalSeconds = data
            var result = Math.floor(totalSeconds / 3600)
            return result
        },
        getMinutes(data){
            var hours = this.getHours(data) * 3600
            const totalSeconds = data - hours
            var result = Math.floor(totalSeconds/60)
            return result
        },
        closeVideo(){
           $("#trailer").attr("src", $("#trailer").attr("src"));
        },
    },
}
</script>