<template>
    <div>
        <div class="main-padding-h">
            <div class="mb-2">
                <ul class="nav nav-tabs mw-1100 mx-auto" id="tab_list" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button 
                            class="nav-link active" 
                            id="curriculum" 
                            data-bs-toggle="tab" 
                            data-bs-target="#tab_curriculum" 
                            type="button" 
                            role="tab" 
                            aria-controls="tab_curriculum" 
                            aria-selected="true"
                        >
                            Curriculum
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button 
                            class="nav-link" 
                            id="reviews" 
                            data-bs-toggle="tab" 
                            data-bs-target="#tab_reviews" 
                            type="button" 
                            role="tab" 
                            aria-controls="tab_reviews" 
                            aria-selected="false"
                        >
                            Reviews
                        </button>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="tab_content">
                <div class="tab-pane fade show active" id="tab_curriculum" role="tabpanel" aria-labelledby="tab_curriculum">
                    <div v-if="preview">
                        <div class="accordion my-4" id="accordionPanelsStayOpenExample" 
                        v-for="(section, index) in orderedSections" :key="section.id">
                        <div class="accordion-item mx-auto">
                            <h2 class="accordion-header" :id="'panelsStayOpen-'+index">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    :data-bs-target="'#panelsStayOpen-collapse'+index" aria-expanded="true"
                                    :aria-controls="'panelsStayOpen-collapse'+index"
                                >
                                    <span class="color-gold" style="font-size: 24px">
                                        {{section.title}}
                                    </span>    
                                </button>
                            </h2>
                            <div :id="'panelsStayOpen-collapse'+index" class="accordion-collapse collapse show"
                                :aria-labelledby="'panelsStayOpen-'+index"
                            >
                                <div v-for="content in section.section_content_orders" :key="content.id" class="accordion-body">
                                    <div class="d-flex align-items-center">
                                        <i v-if="content.endpoint == 'parts'" class="fa-solid fa-book me-2 color-gold"></i>
                                        <i v-if="content.endpoint == 'section_quizzes'" class="fa-solid fa-circle-question me-2 color-gold"></i>
                                        <a v-if="content.endpoint == 'section_quizzes'" 
                                        :href="'/course/'+ course.id + '/section-quizzes/' + content.content_id +'/preview'" >
                                            {{content.title}}
                                        </a>
                                        <a v-else :href="'/course/'+ course.id + '/' + content.endpoint + '/' + content.content_id +'/preview'" >
                                            {{content.title}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div v-else>
                        <div class="accordion my-4" id="accordionPanelsStayOpenExample" 
                            v-for="(section, index) in orderedSections" :key="section.id">
                            <div class="accordion-item mx-auto">
                                <h2 class="accordion-header" :id="'panelsStayOpen-'+index">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        :data-bs-target="'#panelsStayOpen-collapse'+index" aria-expanded="true"
                                        :aria-controls="'panelsStayOpen-collapse'+index"
                                    >
                                        <span class="color-gold" style="font-size: 20px">
                                            {{section.title}}
                                        </span> 
                                    </button>
                                </h2>
                                <div :id="'panelsStayOpen-collapse'+index" class="accordion-collapse collapse show"
                                    :aria-labelledby="'panelsStayOpen-'+index"
                                >
                                    <div v-for="content in section.section_content_orders" :key="content.id" class="accordion-body">
                                        <div v-if="purchased || content.is_unlock == 1" class="d-flex align-items-center">
                                            <i v-if="content.endpoint == 'parts'" class="fa-solid fa-book me-2 color-gold"></i>
                                            <i v-if="content.endpoint == 'section_quizzes'" class="fa-solid fa-circle-question me-2 color-gold"></i>
                                            <a v-if="content.endpoint == 'section_quizzes'" 
                                            :href="'/course/'+ course.id + '/section-quizzes/' + content.content_id" >
                                                {{content.title}}
                                            </a>
                                            <a v-else :href="'/course/'+ course.id + '/' + content.endpoint + '/' + content.content_id" >
                                                {{content.title}}
                                            </a>
                                        </div>
                                        <div v-else class="d-flex align-items-center">
                                            <i v-if="content.endpoint == 'parts'" class="fa-solid fa-book me-2 color-gold"></i>
                                            <i v-if="content.endpoint == 'section_quizzes'" class="fa-solid fa-circle-question me-2 color-gold"></i>
                                            <a href="#" class="locked">
                                                {{content.title}}
                                            </a>
                                            <i class="fa-solid fa-lock ms-auto me-2"></i> 
                                            <p class="d-none d-md-block">
                                                Enroll to access this item
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade mx-auto mw-1100" id="tab_reviews" role="tabpanel" aria-labelledby="tab_reviews">
                    <div v-if="completed && !preview">
                        <rating :course_id="course.id"></rating>
                    </div>
                    <div v-else>
                        <p>You must complete this course to rate.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props:['course','session_id', 'preview'],
    data() {
        return {
            purchased: false,
            completed: false,
        }
    },
    computed: {
        orderedSections: function () {
            return _.orderBy(this.course.course_sections, 'order')
        }
    },
    mounted: function() {
        var user_index = _.findIndex(this.course.students, {'id': parseInt(this.session_id)})
        
        if(user_index > -1) {
            // ini ada
            this.purchased = true
        }else{
            this.purchased = false
        }
        if(user_index > -1) {
            // ini ada
            if(this.course.students[user_index].pivot.status == 'completed'){
                this.completed = true
            }
            else{
                this.completed = false
            }
        }else{
            this.completed = false
        }
    }
}
</script>
