<template>
    <div class="highlight g-0" :style="{'background' : 'url('+ api_url + '/storage/' + hero_background +')' , 'background-repeat' : 'no-repeat' , 'background-position' : 'center' , 'background-size' : 'cover' }">
        <div class="highlight-overlay main-padding-h">
            <h1 class="bg-gradient-gold h0 fw-semi ">
                {{ course_highlight.title }}
            </h1>
            <!-- <h5>
                {{ category.name }}
            </h5> -->
            <h5>
                {{ course_highlight.teacher.profile.name }}
            </h5>
            <div class="d-flex flex-wrap align-items-center mt-1 mb-2">
                <!-- <span class="me-3"><span class="color-gold">96%</span> Profile Match</span> -->
                    <star-rating 
                        :inline="true" 
                        :star-size="18" 
                        :read-only="true" 
                        :show-rating="true" 
                        :rating="course_highlight.average_ratings" 
                        :round-start-rating="false" 
                        :fixed-points="1" 
                        class="me-2"
                    ></star-rating>
                    <p class="me-3">
                        {{course_highlight.total_ratings}} Ratings
                    </p>
                <span class="">
                    <i class="fa-solid fa-users color-white me-2"></i>
                    <span class="me-3">
                        {{ course_highlight.total_students }} Enrolled
                    </span>
                </span>
                <span class="">
                    <i class="fa-solid fa-gauge-high me-2 color-white"></i>
                    <span>
                        {{ course_highlight.level }}
                    </span>
                </span>
            </div>
            <p class="mb-3" v-html="course_highlight.desc"></p>
            <a :href="'/course/'+ course_highlight.id" class="btn btn-secondary d-inline-block fill-gold fw-semi me-2" role="button">
                View Course
            </a>
            <a class="btn d-inline-block me-2 fill-white fw-semi" role="button" 
                data-bs-toggle="modal" data-bs-target="#trailerModal " v-if="course_highlight.trailer"
            >
                Play Trailer
            </a>
            <!-- Modal -->
            <div class="modal fade" id="trailerModal" tabindex="-1" aria-labelledby="trailerModalLabel" aria-hidden="true">
                <div class="modal-fullscreen modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="gopayModalLabel">
                                {{ course_highlight.title }} Trailer
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeVideo()"></button>
                        </div>
                        <div class="modal-body">
                            <iframe width="100%" id="trailer" height="100%" :src="'https://www.youtube.com/embed/' + course_highlight.trailer"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import StarRating from 'vue-star-rating';
export default {
    components: {
        StarRating
    },
    props: ['course_highlight','hero_background'],
    methods: {
        closeVideo(){
           $("#trailer").attr("src", $("#trailer").attr("src"));
        }
    },
}
</script>