<template>
    <div class="highlight g-0">
        <div class="highlight-overlay main-padding-h">
            <vue-skeleton-loader
                :height="75"
                :width="300"
                class="mb-2"
                color="rgba(52, 52, 52, 1)"
                animation="fade"
            ></vue-skeleton-loader>
            <!-- <h5>
                {{ category.name }}
            </h5> -->
            <vue-skeleton-loader
                :height="25"
                :width="200"
                class="mb-2"
                color="rgba(52, 52, 52, 1)"
                animation="fade"
            ></vue-skeleton-loader>
            <div class="d-flex flex-wrap align-items-center mt-1 mb-2">
                <vue-skeleton-loader
                    :height="25"
                    class="mb-2 w-100"
                    color="rgba(52, 52, 52, 1)"
                    animation="fade"
                ></vue-skeleton-loader>
            </div>
            <vue-skeleton-loader
                :height="100"
                class="mb-2 w-100"
                color="rgba(52, 52, 52, 1)"
                animation="fade"
            ></vue-skeleton-loader>
            <div class="d-flex">
                <vue-skeleton-loader
                :height="36"
                :width="150"
                class="me-2"
                color="rgba(52, 52, 52, 1)"
                animation="fade"
            ></vue-skeleton-loader>
            <vue-skeleton-loader
                :height="36"
                :width="150"
                class="me-2"
                color="rgba(52, 52, 52, 1)"
                animation="fade"
            ></vue-skeleton-loader>
            </div>
        </div>
    </div>
</template>

<script>
</script>