<template>
    <div class="IDP-container">
        <div class="idpcard idpcard-3 stacked--up">
            <div class="IDP-content">
                <div class="d-flex align-items-center">
                <img src="/img/placeholder-square.png" alt="icon" height="50" class="me-2">
                <div class="me-auto">
                    <p class="color-gold fw-semi">MailChimp</p>
                    <p>IDP</p>
                </div>
                <div class="text-end me-3">
                    <p>5/5 Completed</p>
                    <p>7 Weeks</p>
                </div>
                <a href="javascript:void(0)" class="btn  fill-gold fw-semi">Review</a>
                </div>
            </div>
        </div>
    </div>
</template>