<template>
    <div id="isdiscount" v-if="is_vue_ready">
        <div>
            <input type="checkbox" id="checkIsDiscount" class="mb-3" v-model="discount.is_on_discount">
            <label for="checkIsDiscount">
                Is discounted
            </label>
        </div>
        <div v-if="discount.is_on_discount == true || discount.is_on_discount == 1 ">
            <div class="input-group" id="CoursePriceDiscount" >
                <span class="input-group-text price">
                    Rp.
                </span>
                <money class="form-control form-dark" v-model.number="discount.discount_price" 
                    aria-label="Amount (to the nearest rupiah)"
                ></money>
            </div>
            <div id="priceDiscountHelp" class="form-text mb-2">
                Set discounted price
            </div>
        </div>
    </div>  
</template>

<script>
    export default {
        props:['course'],
        data() {
            return {
                is_vue_ready: false,
                discount: {
                    is_on_discount: '',
                    discount_price: '',
                }
            }
        },
        watch: {
            'discount': {
                handler: function (p) {
                    this.$emit('input', this.discount)
                },
                deep: true
            },
        },
        created(){
            if(this.course.is_on_discount == 1) {
                this.is_on_discount  = 1
            }
            this.discount.discount_price = this.course.discount_price
            this.discount.is_on_discount = this.course.is_on_discount
            this.is_vue_ready = true
        }
    }
</script>