<template>
    <div class="text-center progress-ring">
        <svg :height="radius * 2" :width="radius * 2">
            <circle stroke="#FBD68D" :stroke-dasharray="circumference + ' ' + circumference"
            fill="transparent"
                :style="{ strokeDashoffset }" :stroke-width="stroke" :r="normalizedRadius" :cx="radius" :cy="radius" />
        </svg>
    </div>
</template>

<script>
    export default {
        props: {
            radius: Number,
            progress: Number,
            stroke: Number,
        },
        data() {
            const normalizedRadius = this.radius - this.stroke * 2;
            const circumference = normalizedRadius * 2 * Math.PI;

            return {
                normalizedRadius,
                circumference
            };
        },
        computed: {
            strokeDashoffset() {
                return this.circumference - this.progress / 100 * this.circumference;
            }
        },
    }
</script>
