<template>
    <div>
        <!-- <div class="main-padding-h py-3 mb-4 quiz-header">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-list-check me-2 color-white"></i>
                    <p>
                        Choose the correct answer below
                    </p>
                </div>
                <div class="d-flex">
                    <div class="ms-3" v-show="question_index != '0'">
                        <a href="javascript:void(0)" class="btn btn-secondary d-inline-block fw-semi outline-white" role="button" 
                        @click="prev()">
                            Previous Question
                        </a>
                    </div>
                    <div class="ms-3" v-show="question_index != length - 1">
                        <a href="javascript:void(0)" class="btn  d-inline-block fw-semi fill-gold" role="button" 
                        @click="next()">
                            Next Question
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
            <div class="main-padding-h mb-5">
            <h3 class="pt-3">
                {{question.question}}
            </h3>
        </div>
        <div class="main-padding-h quiz-choice">
            <div class="d-flex align-items-center mb-4">
                <h6 style="white-space: nowrap" class="color-gold me-4">
                    YOUR ANSWER
                </h6>
                <div class="hr"></div>
            </div>
            <div v-if="question.question_type == 'multiple_answer'">
                <div v-for="(answer, index) in question.answers" :key="answer.id" class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" :value="answer" :name="'answer-multiple-answer' + question.id" 
                        :id="'answer-multiple-answer' + question.id + index" v-model="selected_answers"
                    >
                    <label class="form-check-label color-white" :for="'answer' + index">
                        {{answer.answer}}
                    </label>
                </div>
                <div class="mt-5">
                    <p>
                        Note: There can be multiple correct answers to this question.
                    </p>
                </div>
            </div>
            <div v-else>
                <div v-for="(answer, index) in question.answers" :key="answer.id" class="form-check mb-3">
                   <input class="form-check-input" type="radio" :value="answer" :name="'answer' + question.id" 
                        :id="'answer' + question.id + index" v-model="selected_answers"
                    >
                    <label class="form-check-label color-white" :for="'answer' + index">
                        {{answer.answer}}
                    </label>
                </div>
            </div>
            <div class="mb-3 mt-5">
                <div class="d-flex align-items-center">
                    <button class="btn fill-gold fw-semi" @click="submitQuiz()" v-show="question_index == length - 1">
                        Submit Quiz
                    </button>
                    <div class="d-flex ms-auto">
                        <div class="ms-3">
                            <a href="javascript:void(0)" :class="{ buttondisabled: question_index == 0 }" class="btn btn-secondary d-inline-block fw-semi outline-white" role="button" 
                            @click="prev()">
                                <i class="fa-solid fa-arrow-left"></i>
                            </a>
                        </div>
                        <div class="ms-3">
                            <a href="javascript:void(0)" :class="{ buttondisabled: question_index == length - 1 }" class="btn d-inline-block fw-semi outline-white" role="button" 
                            @click="next()">
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['question', 'length', 'question_index', 'user_question'],
    data() {
        return {
            selected_answers: []
        }
    },
    created() {
        if(this.user_question) {
            _.forEach(this.question.answers, (answer)=>{
                var index = _.findIndex(this.user_question.user_quiz_question_answers, {'answer': answer.answer})
                if(index > -1) {
                    if(this.question.question_type == 'multiple_answer') {
                        this.selected_answers.push(answer)
                    }else{
                        this.selected_answers = answer
                    }
                }
            })
        }
    },
    methods: {
        next() {
            if(Array.isArray(this.selected_answers)) {
                this.$parent.next(this.question.id, this.selected_answers)
            }
            else{
                var array = []
                array.push(this.selected_answers)
                this.$parent.next(this.question.id, array)
            }
        },
        prev() {
            if(Array.isArray(this.selected_answers)) {
                this.$parent.prev(this.question.id, this.selected_answers)
            }
            else{
                var array = []
                array.push(this.selected_answers)
                this.$parent.prev(this.question.id, array)
            }
        },
        submitQuiz(){
            if(Array.isArray(this.selected_answers)) {
                this.$parent.submitQuiz(this.question.id, this.selected_answers)
            }
            else{
                var array = []
                array.push(this.selected_answers)
                this.$parent.submitQuiz(this.question.id, array)
            }
        }
    }
}
</script>