<template>
    <div>
        <div class="main-padding-h mb-5">
            <vue-skeleton-loader
                :height="25"
                :width="300"
                color="rgba(52, 52, 52, 1)"
                animation="fade"
                class="mb-2"
            ></vue-skeleton-loader>
            <vue-skeleton-loader
                :height="25"
                :width="200"
                color="rgba(52, 52, 52, 1)"
                animation="fade"
                class="mb-2"
            ></vue-skeleton-loader>
            <vue-skeleton-loader
                :height="25"
                :width="150"
                color="rgba(52, 52, 52, 1)"
                animation="fade"
                class="mb-2"
            ></vue-skeleton-loader>
        
        </div>
        <div class="main-padding-h py-3 mb-4 quiz-header">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <vue-skeleton-loader
                        :height="25"
                        :width="300"
                        color="rgba(52, 52, 52, 1)"
                        animation="fade"
                        class="mb-2"
                    ></vue-skeleton-loader>
                </div>
                <div class="d-flex">
                    <vue-skeleton-loader
                        :height="36"
                        :width="100"
                        color="rgba(52, 52, 52, 1)"
                        animation="fade"
                        class="ms-3"
                    ></vue-skeleton-loader>
                    <vue-skeleton-loader
                        :height="36"
                        :width="100"
                        color="rgba(52, 52, 52, 1)"
                        animation="fade"
                        class="ms-3"
                    ></vue-skeleton-loader>
                </div>
            </div>
        </div>
        <div class="main-padding-h quiz-choice">
            <div class="d-flex align-items-center mb-4">
                <h6 style="white-space: nowrap" class="color-gold me-4">
                    YOUR ANSWER
                </h6>
                <div class="hr"></div>
            </div>
            <div>
                <div class="form-check mb-3">
                    <vue-skeleton-loader
                        :height="36"
                        :width="300"
                        color="rgba(52, 52, 52, 1)"
                        animation="fade"
                    ></vue-skeleton-loader>
                </div>
                <div class="form-check mb-3">
                    <vue-skeleton-loader
                        :height="36"
                        :width="300"
                        color="rgba(52, 52, 52, 1)"
                        animation="fade"
                    ></vue-skeleton-loader>
                </div>
                <div class="form-check mb-3">
                    <vue-skeleton-loader
                        :height="36"
                        :width="300"
                        color="rgba(52, 52, 52, 1)"
                        animation="fade"
                    ></vue-skeleton-loader>
                </div>
                <div class="form-check mb-3">
                    <vue-skeleton-loader
                        :height="36"
                        :width="300"
                        color="rgba(52, 52, 52, 1)"
                        animation="fade"
                    ></vue-skeleton-loader>
                </div>
                <div class="my-3">
                    <vue-skeleton-loader
                        :height="25"
                        :width="400"
                        color="rgba(52, 52, 52, 1)"
                        animation="fade"
                    ></vue-skeleton-loader>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['question', 'length', 'question_index', 'user_question'],
    data() {
        return {
            selected_answers: []
        }
    },
    created() {
        if(this.user_question) {
            _.forEach(this.question.answers, (answer)=>{
                var index = _.findIndex(this.user_question.user_quiz_question_answers, {'answer': answer.answer})
                if(index > -1) {
                    if(this.question.question_type == 'multiple_answer') {
                        this.selected_answers.push(answer)
                    }else{
                        this.selected_answers = answer
                    }
                }
            })
        }
    },
    methods: {
        next() {
            if(Array.isArray(this.selected_answers)) {
                this.$parent.next(this.question.id, this.selected_answers)
            }
            else{
                var array = []
                array.push(this.selected_answers)
                this.$parent.next(this.question.id, array)
            }
        },
        prev() {
            if(Array.isArray(this.selected_answers)) {
                this.$parent.prev(this.question.id, this.selected_answers)
            }
            else{
                var array = []
                array.push(this.selected_answers)
                this.$parent.prev(this.question.id, array)
            }
        },
        submitQuiz(){
            if(Array.isArray(this.selected_answers)) {
                this.$parent.submitQuiz(this.question.id, this.selected_answers)
            }
            else{
                var array = []
                array.push(this.selected_answers)
                this.$parent.submitQuiz(this.question.id, array)
            }
        }
    }
}
</script>