<template>
<div>
    <div v-if="message" class="alert alert-success" role="alert">
        <div>
            <p class="color-green">
                {{ message }}
            </p>
        </div>                
    </div>
    <div class="d-flex">
        <h5 class="me-3 mt-2">
            Rate This Course
        </h5>
        <star-rating 
            :inline="true" 
            :star-size="24" 
            v-model="rating" 
            :show-rating="true" 
            :round-start-rating="false" 
        ></star-rating>
    </div>
    <input type="text" placeholder="Write your review here" class="form-control my-3" v-model="comment">
    <a href="javascript:void(0)" class="btn fill-gold fw-semi" @click="giveRating()">Post Rating</a>
</div>
</template>
<script>
import StarRating from 'vue-star-rating';
export default {
    components: {
        StarRating
    },
    props:['course_id'],
    data() {
            return {
                rating: 0,
                comment:'',
                message:'',
            }
        },
    methods: {
        giveRating(){
            axios({
                method: 'post',
                url: this.api_url + '/api/v1/courses/'+ this.course_id + '/rate',
                headers: {
                    'Authorization' : 'Bearer ' + bearer,
                    'Accept' : 'application/json',
                },
                data:{
                    rating: this.rating,
                    comment: this.comment
                }
            })
            .then(response => {
                this.message = "Rating Posted!"
            })
        }
    },
}
</script>