<template>
<div>
    <div 
        v-if="result" 
        class="modal fade" 
        id="resultModal" 
        tabindex="-1" 
        aria-labelledby="resultModalLabel" 
        data-bs-backdrop="static" 
        data-bs-keyboard="false" 
        aria-hidden="true"
    >
        <div class="modal-dialog" v-if="user_quiz">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resultModalLabel">
                        Test Result
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="px-2 py-2">
                        <h3 class="color-gold" v-if="result.is_success">
                            Test Passed!
                        </h3>
                        <h3 class="color-gold" v-else>
                            Test Failed!
                        </h3>
                        <div class="hr-gold mb-3"></div>
                        <div class="d-flex fw-semi">
                            <p>
                                Correct
                            </p>
                            <p class="ms-auto">
                                {{result.total_true}} / {{section_quiz.quiz.questions.length}}
                            </p>
                        </div>
                        <div class="d-flex fw-semi">
                            <p>
                                Wrong
                            </p>
                            <p class="ms-auto">
                                {{result.total_false}} / {{section_quiz.quiz.questions.length}}
                            </p>
                        </div>
                        <div class="d-flex fw-semi">
                            <p>
                                Points
                            </p>
                            <p class="ms-auto">
                                {{result.user_score}}
                            </p>
                        </div>
                        <div class="d-flex fw-semi">
                            <p>
                                Minimum Score to Pass
                            </p>
                            <p class="ms-auto">
                                {{section_quiz.point_requirement}}
                            </p>
                        </div>
                        <div class="mb-3"></div>
                        <p class="color-gold" v-if="section_quiz.max_attempt === 0">
                            Unlimited Retakes
                        </p>
                        <p class="color-gold" v-else>
                            {{user_quiz.section_quiz.max_attempt - user_quiz.attempts}}  Retakes Available
                        </p>
                    </div> 
                </div>
                <div class="modal-footer">
                    <a v-if="result.is_success" class="btn outline-gold fw-semi me-2" data-bs-target="#reviewConfirmationModal" data-bs-toggle="modal">
                        Review Quiz
                    </a>
                    <a class="btn outline-gold fw-semi me-2" role="button" @click="retakeQuiz()">
                        Retake Quiz
                    </a>
                    <a href="javascript:void(0)" class="btn fill-gold fw-semi me-2" @click="quizComplete()">
                        Finish
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL -->
    <div v-if="result" class="modal fade" id="reviewConfirmationModal" tabindex="-1" aria-labelledby="reviewConfirmationLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reviewConfirmationLabel">
                        Review Quiz Confirmation
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-3">
                        Once you review the quiz, you cannot retake this quiz. Are you sure?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary outline-gold me-2" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <a class="btn fill-gold fw-semi" :href="'/course/' + course_id + '/section-quizzes/'+ section_quiz.id +'/review/'+ result.id">
                        Review
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
</template>

<script>
export default {
    props: ['result','user_quiz','section_quiz','course_sections','course_id'],
    methods: {
        quizComplete(){
            //check is course can be completed
            axios({
                method: 'get',
                url: this.api_url + "/api/v1/students/" + this.user_quiz.user_id + "/courses/" + this.course_sections[0].course_id + "/complete",
                headers: {
                    'Authorization': 'Bearer ' + bearer,
                    'Accept': 'application/json',
                },
            })
            .then(response => {
        
                if(response.status == 200){
                    var current_section_index = _.findIndex(this.course_sections, {'id': this.section_quiz.course_section_id})
                    var current_section = this.course_sections[current_section_index]
                    
                    var quiz_quiz_index = _.findIndex(current_section.section_content_orders, {'content_id': this.section_quiz.slug})
                    var next_quiz = current_section.section_content_orders[quiz_quiz_index + 1]
                    var first_page = this.course_sections[0]
                    var first_content = first_page.section_content_orders[0]

                    if(quiz_quiz_index + 1 == current_section.section_content_orders.length) {
                        if(current_section_index + 1 == this.course_sections.length) {
                            // Redirect ke halaman pertama
                            if(first_content.endpoint == 'section_quizzes') {
                                window.location.href = '/course/'+ current_section.course_id + '/section-quizzes/' + first_content.content_id
                            }else{
                                window.location.href = '/course/'+ current_section.course_id + '/' + first_content.endpoint + '/' + first_content.content_id
                            }
                        }else{
                            var next_section = this.course_sections[current_section_index + 1]
                            next_quiz = next_section.section_content_orders[0]
                        }
                    }

                    if(next_quiz.endpoint == 'section_quizzes') {
                        window.location.href = '/course/'+ current_section.course_id + '/section-quizzes/' + next_quiz.content_id
                    }else{
                        window.location.href = '/course/'+ current_section.course_id + '/' + next_quiz.endpoint + '/' + next_quiz.content_id
                    }
                }
                else{
           
                    //halaman complete
                    window.location.href = '/complete?course=' + this.course_sections[0].course_id
                }
            })
            .catch(error => {
      
                var current_section_index = _.findIndex(this.course_sections, {'id': this.section_quiz.course_section_id})
                var current_section = this.course_sections[current_section_index]
                
                var quiz_quiz_index = _.findIndex(current_section.section_content_orders, {'content_id': this.section_quiz.slug})
                var next_quiz = current_section.section_content_orders[quiz_quiz_index + 1]
                var first_page = this.course_sections[0]
                var first_content = first_page.section_content_orders[0]

                if(quiz_quiz_index + 1 == current_section.section_content_orders.length) {
                    if(current_section_index + 1 == this.course_sections.length) {
                        // Redirect ke halaman pertama
                        if(first_content.endpoint == 'section_quizzes') {
                            window.location.href = '/course/'+ current_section.course_id + '/section-quizzes/' + first_content.content_id
                        }else{
                            window.location.href = '/course/'+ current_section.course_id + '/' + first_content.endpoint + '/' + first_content.content_id
                        }
                    }else{
                        var next_section = this.course_sections[current_section_index + 1]
                        next_quiz = next_section.section_content_orders[0]
                    }
                }

                if(next_quiz.endpoint == 'section_quizzes') {
                    window.location.href = '/course/'+ current_section.course_id + '/section-quizzes/' + next_quiz.content_id
                }else{
                    window.location.href = '/course/'+ current_section.course_id + '/' + next_quiz.endpoint + '/' + next_quiz.content_id
                }
            }) 
           
        },
        retakeQuiz(){
            var current_section_index = _.findIndex(this.course_sections, {'id': this.section_quiz.course_section_id})
            var current_section = this.course_sections[current_section_index]
            window.location.href = '/course/'+ current_section.course_id + '/section-quizzes/' + this.section_quiz.slug
        }
    },
}
</script>

