<template>
    <div class="toc-container">
        <div class="toc-content sidebar">
            <div class="d-flex align-items-center mb-4">
                <h6 class="mb-0 pe-3 ms-3 color-gold" style="white-space: nowrap">
                    TABLE OF CONTENT
                </h6>
                <div class="hr-3"></div>
            </div>
            <div class="d-inline">
                <div class="d-flex align-items-center mb-4">
                    <vue-skeleton-loader
                        :height="25"
                        :width="150"
                        color="rgba(52, 52, 52, 1)"
                        animation="fade"
                        class="ms-3"
                    ></vue-skeleton-loader>
                </div>
                <div class="d-inline">
                    <div class="toc-dots selected"></div>
                    <div class="toc-item d-flex selected">
                        <vue-skeleton-loader
                            :height="25"
                            :width="75"
                            color="rgba(52, 52, 52, 1)"
                            animation="fade"
                        ></vue-skeleton-loader>
                    </div>
                </div>
                <div class="d-inline">
                    <div class="toc-dots selected"></div>
                    <div class="toc-item d-flex selected">
                        <vue-skeleton-loader
                            :height="25"
                            :width="75"
                            color="rgba(52, 52, 52, 1)"
                            animation="fade"
                        ></vue-skeleton-loader>
                    </div>
                </div>
                <div class="d-inline">
                    <div class="toc-dots selected"></div>
                    <div class="toc-item d-flex selected">
                        <vue-skeleton-loader
                            :height="25"
                            :width="75"
                            color="rgba(52, 52, 52, 1)"
                            animation="fade"
                        ></vue-skeleton-loader>
                    </div>
                </div>
                <div class="d-inline">
                    <div class="toc-dots selected"></div>
                    <div class="toc-item d-flex selected">
                        <vue-skeleton-loader
                            :height="25"
                            :width="75"
                            color="rgba(52, 52, 52, 1)"
                            animation="fade"
                        ></vue-skeleton-loader>
                    </div>
                </div>
                <div class="d-inline">
                    <div class="toc-dots selected"></div>
                    <div class="toc-item d-flex selected">
                        <vue-skeleton-loader
                            :height="25"
                            :width="75"
                            color="rgba(52, 52, 52, 1)"
                            animation="fade"
                        ></vue-skeleton-loader>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
   
</script>
