<template>
    <div class="toc-container">
        <div class="toc-content sidebar">
            <div class="d-flex align-items-center mb-4">
                <h6 class="mb-0 pe-3 ms-3 color-gold" style="white-space: nowrap">
                    TABLE OF CONTENT
                </h6>
                <div class="hr-3"></div>
            </div>
            <div v-for="section in course_sections" :key="section.id" class="d-inline">
                <div class="d-flex align-items-center mb-4">
                    <h6 class="mb-0 pe-3 ms-3 color-gold text-truncate" style="white-space: nowrap">
                        {{section.title}}
                    </h6>
                </div>
                <div v-if="preview">
                    <div v-for="content in section.section_content_orders" :key="content.id" class="d-inline">
                        <div class="toc-dots" :class="{'selected': content_id == content.content_id}"></div>
                        <div class="toc-item d-flex" :class="{'selected': content_id == content.content_id}">
                            <a v-if="content.endpoint == 'section_quizzes'" class="text-truncate"
                                :href="'/course/'+ section.course_id + '/section-quizzes/' + content.content_id + '/preview'"
                            >
                                {{content.title}}
                            </a>
                            <a v-else class="text-truncate"
                                :href="'/course/'+ section.course_id + '/' + content.endpoint + '/' + content.content_id + '/preview'"
                            >
                                {{content.title}}
                            </a>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div v-for="(content,index) in section.section_content_orders" :key="content.id" class="d-inline">
                        <div class="toc-dots" :class="{'selected': content_id == content.content_id}"></div>
                        <div class="toc-item d-flex" :class="{'selected': content_id == content.content_id}">
                            <a v-if="content.endpoint == 'section_quizzes'" class="text-truncate"
                                :href="'/course/'+ section.course_id + '/section-quizzes/' + content.content_id"
                            >
                                {{content.title}}
                            </a>
                            <a v-else class="text-truncate"
                                :href="'/course/'+ section.course_id + '/' + content.endpoint + '/' + content.content_id"
                            >
                                {{content.title}}
                            </a>
                            <div v-if="content.endpoint == 'quiz'" class="ms-auto me-3"> 
                                <div v-if="completed[index] && is_success[index]"> 
                                    <i class="fa-solid fa-circle-check color-gold"></i> 
                                </div>
                            </div>
                            <div v-else class="ms-auto me-3">
                                <div v-if="completed[index]" > 
                                    <i class="fa-solid fa-circle-check color-gold"></i> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['course_sections', 'content_id', 'preview', 'progress'],
        data() {
            return {
                completed: [],
                is_success: [],
            }
        },
        watch: {
            progress() {
                if(this.progress) {
                    this.initProgress()
                }
            }
        },
        mounted: function(){
        },
        created() {
            if(this.progress) {
                this.initProgress()
            }
        },
        methods: {
            initProgress() {
                _.forEach(this.progress, (data)=>{
                    if(data.status == 'completed'){
                        this.completed.push(true)
                        this.is_success.push(data.is_success)
                    }else{
                        this.completed.push(false)
                        this.is_success.push(data.is_success)
                    }
                });
            }
        }
    }
</script>
